@font-face {
  font-family: 'Fixedsys Excelsior';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://assets.nasqueron.org/webfonts/FixedsysExcelsior.woff2') format('woff2'),
       url('https://assets.nasqueron.org/webfonts/FixedsysExcelsior.ttf') format('truetype');
}
