@charset "utf-8";

/*  -------------------------------------------------------------
    Nasqueron Forms
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Licence:        Creative Commons BY 4.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Forms general layout
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.orbeon .alert {
    margin-bottom: 2.5em !important;
}

.fr-grid-td {
    padding-bottom: 2em !important;
}
